@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Roboto+Slab:wght@500&family=Source+Sans+Pro:wght@200;400;600&display=swap');
body {
    border-style: solid;
    border-color: #eee;
    background-color: #eee;
    font-family: 'Source Sans Pro';
}
.newspaper-container {
    background-color: white;
    box-shadow: #ddd;
    width: 700px;
    margin-left: 600px;
    margin-right: 400px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 2%;
}
.date{
    color: grey;
}
nav {
    position: sticky;
    top: 0;
    background-color: white;
    border-top: #ddd;
    border-bottom: #ddd;
    margin-top: 2em;
    padding-top: 3px;
    padding-bottom: 3px;
}
h1 {
    text-align: center;
    font-family: 'Abril Fatface', serif;
}
h5{
    font-family: 'Abril Fatface', serif;
    color:  #dd3232;
}
h2 , h4 {
    font-weight: 900;
}

ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-left: -2.5em;
}
a {
    text-decoration: none;
    color: #777;
}
main img {
    display: inline-block;
    margin-left: 4%;
    width: 40em;
}
p {
    font-family: 'Roboto Slab';
    text-align: justify;
}
.more-articles {
    display: flex;
    justify-content: space-between;
}
.even-more-articles {
    display: flex;
    justify-content: space-between;
}
section {
    text-align: center;
    display: inline-block;
    width: 20em;
}
.three-articles {
    width: 200px;

}
.three-articles img {
    width: 200px;
    height: auto;
}
footer p{
    display: block;
    width: auto;
    text-align: center;
}